#title{
	text-align: center;
	border: 5px solid;
	display: none;
}

#intro{
	text-align: center;
	display: none;
}

#start{
	text-align: center;
	display: none;
}

#hero{

}

#heroine{
	
}


